.span9
  .hero-unit
    %h1 שלום, עולם!
    %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
    %p
      %a.btn.primary.large למדו עוד »
  .row-fluid
    .span4
      %h2 כותרת 1
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
    .span4
      %h2 כותרת 2
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
    .span4
      %h2 כותרת 3
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
  / /row
  .row-fluid
    .span4
      %h2 כותרת 4
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
    .span4
      %h2 כותרת 5
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
    .span4
      %h2 כותרת 6
      %p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים.
      %p
        %a.btn{:href => "#"} פרטים נוספים »
    / /span
  / /row
/ /span
/ /row
