#site-header{
  width:100%;
  height:62px;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid @red;
  color: @red;
}

#site-nav{
  width: (@gridColumns * @gridColumnWidth + @gridColumns * @gridGutterWidth);
  height:62px;
  margin: 0 auto;
  border-right: 1px solid @red;
}

.menu-item{
  position: relative;
  float: right;
  border-left: 1px solid @red;
}

.menu-label{
  height: 62px;
  line-height:62px;
  font-size: 32px;
  font-weight: normal;
  padding-right: 10px;
  position: relative;
}

#radio-menu {
  width:299px;
}

#blog-menu{
  width:309px;
}

#neighbourhood-menu{
  width: 229px;
}

#search-menu{
  width:79px;
}