#site-header{
  width:100%;
  height:276px;
  border-top: 1px solid #7e7e7e;
  color: @red;
  background: image-url('pilim-bg.jpg') repeat-x center;
  position: relative;
}

// main navigation
#site-nav{
  width: (@gridColumns * @gridColumnWidth + @gridColumns * @gridGutterWidth);
  height:62px;
  margin: 0 auto;
  border-right: 1px solid @red;
}

#site-nav:before{
  content: '';
  display: block;
  position: absolute;
  top:62px;
  right:0;
  width:100%;
  border-bottom: 1px solid @red;
}

.menu-item,
#search-menu{
  position: relative;
  float: right;
  border-left: 1px solid @red;
}

.menu-item:hover{
  background-color: @red;
}

.menu-label{
  height: 62px;
  line-height:62px;
  font-size: 32px;
  font-weight: normal;
  padding-right: 10px;
  display: block;
  position: relative;
}

.menu-label:after{
  content: '';
  display: block;
  .triangle-down(3px);
  position: absolute;
  left:25px;
  top:25px;
}

.menu-item:hover .menu-label{
  color:#000;
  cursor: pointer;
}

.menu-item:hover .menu-label:after{
  .triangle-down(3px, #000);
}

#radio-menu {
  width:299px;
}

#blog-menu{
  width:309px;
}

#neighbourhood-menu{
  width: 229px;
}

#search-menu{
  width:79px;
  height:62px;
  position: relative;
}

#search-menu .rep{
  width:40px;
  height:31px;
  position: absolute;
  top:14px;
  right: 14px;
}

#search-menu:hover{
  background-color: @red;
  cursor: pointer;
}

#search-menu:hover .rep{
  background-position: 0 -32px;
}

// sub-menus for main navigation
.sub-menu{
  position: absolute;
  right:-1px;
  top:63px;
  z-index: 10;
  border: 1px solid @greyDarkest;
  border-top: none;
  width:100%;
  background-color: lighten(@greyBackground,2%);
  .box-shadow(0 0 20px rgba(0,0,0,0.5));
  display: none;
}

.menu-item:hover .sub-menu{
  display: block;
}

.sub-menu-item {
  height:59px;
  line-height: 58px;
  font-size: 26px;
  color: @greyLight;
  margin: 0 9px;
}

.sub-menu-item a{
  display: block;
  color: @greyLight;
  text-decoration: none;
  padding-right: 14px;
  position: relative;
}

.sub-menu-item + .sub-menu-item {
  border-top: 1px solid @greyDarker;
}

.sub-menu-item:hover{
  padding: 0 9px;
  margin: 0 -1px -1px -1px;
  border: 1px solid @red;
  border-top:none;
  .box-shadow(0 4px 10px rgba(0,0,0,0.3));
  cursor: pointer;
}

.sub-menu-item.expand:hover{
  border-left-color: lighten(@greyBackground,2%);
}

.sub-menu-item + .sub-menu-item:hover{
  border-top: 1px solid @red;
}

.sub-menu-item:hover + .sub-menu-item{
  border-top-color: @red;
}

.sub-menu-item:hover a{
  color: @red;
}

.sub-menu-item.expand a:after{
  content:'';
  display: block;
  position: absolute;
  left:18px;
  top:50%;
  margin-top: -3px;
  .triangle-left(3px);
}

.sub-menu-item.expand .menu-item-content{
  position: absolute;
  top:-1px;
  min-width: 100px;
  min-height: 100px;
  background: lighten(@greyBackground,2%);
  border:1px solid @red;
  padding: 10px;
  .box-shadow(0 5px 20px rgba(0,0,0,0.3));
  display: none;
}

.sub-menu-item.expand:hover .menu-item-content{
  display: block;
}

#radio-menu .menu-item-content{
  width:519px;
  height:384px;
  right:299px;
}

#radio-menu .menu-item-content:before{
  content: '';
  width:10px;
  height:59px;
  position: absolute;
  top:0;
  right:-10px;
  background: lighten(@greyBackground,2%);
}

// social navigation & logo

#logo{
  position: absolute;
  right:18px;
  top:103px;
  width:170px;
  height: 100px;
}

#logo .rep{
  height: 100px;
  background-position: -41px 0;
}

#social-menu {
  position: absolute;
  left: 24px;
  top: 128px;
}

#social-menu li{
  float: left;
}

.social-menu-item {
  min-width:16px;
  height:16px;
  position: relative;
  padding-right: 26px;
}

.social-menu-item .rep{
  width:16px;
}

.social-menu-item:after{
  content: '';
  display: block;
  background-image: image-url('css/sprite.png');
  background-position: -6px -105px;
  width:8px;
  height: 18px;
  position: absolute;
  right:9px;
  top:0;
}

.social-menu-item .fb{
  background-position: -20px -105px;
}

.social-menu-item .tw{
  background-position: -42px -105px;
  width:21px;
}

.social-menu-item .yt{
  background-position: -68px -105px;
}

#social-menu .colman{
  height:25px;
  width:132px;
  background-position: -93px -104px;
  margin-top: -1px;
}